In [45]:
# loading libraries
import pandas as pd
import yfinance as yf
import datetime as dt
import matplotlib.pyplot
import matplotlib
from sqlalchemy import create_engine
import psycopg2

In [46]:
# can automate further using turtle or textinput prompting for ticker
ticker = 'SOXL'

stock_ticker = yf.download(ticker)

C:\Users\shaun\miniconda3\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

In [47]:
# viewing last 5 entries of data. Index is set to date, goes to most recent date
stock_ticker.tail(5)

                 Open       High        Low      Close  Adj Close    Volume
Date
2024-02-16  39.840000  40.779999  37.970001  38.330002  38.330002  76982300
2024-02-20  37.240002  37.669998  34.660000  36.419998  36.419998  80980100
2024-02-21  35.110001  36.150002  34.580002  36.139999  36.139999  65483300
2024-02-22  40.450001  42.049999  39.869999  41.419998  41.419998  96865500
2024-02-23  42.139999  42.680000  39.410000  40.169998  40.169998  68258600

In [48]:
# viewing data types
stock_ticker.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [49]:
# resetting index, adding year column, ticker symbol

# obtaining date
placeholder = stock_ticker.reset_index()
placeholder['Year'] = placeholder['Date'].astype(str)
placeholder['Year'] = placeholder['Year'].str[:4]
placeholder = placeholder.set_index('Date')

# adding ticker
placeholder['Ticker'] = ticker
stock_ticker = placeholder
stock_ticker

,Open,High,Low,Close,Adj Close,Volume,Year,Ticker
Date,,,,,,,,
2010-03-11,0.642500,0.660500,0.642500,0.660500,0.609803,3702000,2010,SOXL
2010-03-12,0.661000,0.665333,0.644167,0.644167,0.594724,4548000,2010,SOXL
2010-03-15,0.631167,0.638000,0.614167,0.623833,0.575951,534000,2010,SOXL
2010-03-16,0.631667,0.675167,0.630667,0.674500,0.622729,1260000,2010,SOXL
2010-03-17,0.700000,0.707000,0.686167,0.698833,0.645194,2610000,2010,SOXL
...,...,...,...,...,...,...,...,...
2024-02-16,39.840000,40.779999,37.970001,38.330002,38.330002,76982300,2024,SOXL
2024-02-20,37.240002,37.669998,34.660000,36.419998,36.419998,80980100,2024,SOXL
2024-02-21,35.110001,36.150002,34.580002,36.139999,36.139999,65483300,2024,SOXL
2024-02-22,40.450001,42.049999,39.869999,41.419998,41.419998,96865500,2024,SOXL
2024-02-23,42.139999,42.680000,39.410000,40.169998,40.169998,68258600,2024,SOXL

In [50]:
# creating connection
con = psycopg2.connect(
    database = "StockData",
    user = "postgres",
    password = "pokemonrocks7",
    host = "localhost",
    port = "5432"
)

# creating engine
engine = create_engine('postgresql://postgres:pokemonrocks7@localhost:5432/StockData')

In [51]:
stock_ticker.to_sql("Stock_Data",engine, if_exists = 'replace')

513